export CHAINNET0=sifchain-ibc-0
export CHAINNET1=sifchain-ibc-1
export IPADDR0=192.168.65.2
export IPADDR1=192.168.65.3
export IPADDR2=192.168.65.4
export SUBNET=192.168.65.1/24
export MNEMONIC='toddler spike waste purpose neutral beach science dawn joke stock help beyond'